.bg {
  width: 100%;
  display: block;
}
.bg-wrapper {
  width: 100vw;
}
.bowser {
  position: absolute;
  width: 10%;
  height: 2.1%;
  outline: 1px solid red;
  left: 78.9%;
  top: 39.9%;
}
.yubaba {
  position: absolute;
  width: 3%;
  height: 1.2%;
  outline: 1px solid red;
  left: 50.6%;
  top: 5.1%;
}
.knight {
  position: absolute;
  width: 2%;
  height: 0.7%;
  outline: 1px solid red;
  left: 58.7%;
  top: 91.75%;
}

.foundBowser,
.foundYubaba,
.foundKnight {
  width: 50px;
}

.popup {
  position: fixed;
  top: 15%;
  left: 50%;
  color: white;
}
