.bg {
  width: 100%;
  display: block;
}
.bowser {
  position: absolute;
  width: 10%;
  height: 2.1%;
  outline: 3px solid transparent;
  left: 78.9%;
  top: 39.9%;
}
.yubaba {
  position: absolute;
  width: 3%;
  height: 1.2%;
  outline: 3px solid transparent;
  left: 50.6%;
  top: 5.1%;
}
.knight {
  position: absolute;
  width: 2%;
  height: 0.7%;
  outline: 3px solid transparent;
  left: 58.7%;
  top: 91.75%;
}
.cacodemon {
  position: absolute;
  width: 4%;
  height: 4.2%;
  left: 50%;
  top: 22.6%;
  outline: 3px solid transparent;
}
.billCipher {
  position: absolute;
  width: 2%;
  height: 2%;
  left: 70.2%;
  top: 64.5%;
  outline: 3px solid transparent;
}
.courage {
  position: absolute;
  width: 1.5%;
  height: 1.5%;
  left: 30.75%;
  top: 51.25%;
  outline: 3px solid transparent;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(1rem, 2vw, 2rem);
}
