@font-face {
  font-family: perfect-pixel;
  src: url(./styles/PerfectPixel.ttf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: perfect-pixel, sans-serif;
  min-height: 100vh;
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #f7f8f9;
  z-index: 1;
  padding: 1vw;
}

main {
  cursor: url("./assets/cursor.svg") 50 50, auto;
  position: relative;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: #f7f8f9;
  background: radial-gradient(
    circle,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  background-size: 200%;
  animation: gradient 10s ease infinite;
}

button {
  font-family: perfect-pixel;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
